*,
*::before,
*::after {
  transition-property: background-color, border-color, color, fill, stroke,
    box-shadow, transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  will-change: transform, opacity, background-color;
}
